<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome, {{name.fname}} {{name.lname}}</h1>
	<p><strong>Bio: </strong>{{bio.bio}}</p>
	
	<form action="/post_bio" method="POST">
		<input type="text" name = "postBio" placeholder="Update Bio"/> </br>
		<input type="submit" value = Post />
	</form>
	<br>
	
	<ul>
	<li><a href = "/view_followee">People you are trying to follow/are following</a></li><br>
	<li><a href = "/followers">Your followers</a></li><br>                     
	<li><a href = "/follow_requests">Your Follow Requests</a></li><br>
	<li><a href = "/follow">Follow someone!<br></a></li><br>
	</ul>
	
	<a href="/upload"><h2>Upload a Picture!</h2></a>
	<br>
	<br>
	<a href="/myImages">View your posts</a>
	<br><br>
	<a href="/select_user">See what your friends have posted</a><br><br>
	<a href="/cfgroups">Your Close Friend Groups</a>
	<br><br><br><br>
	<a href="/logout">Logout</a>

</body>


</html>