<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<h1>{{poster_name}}</h1>
<!---{% if followed == false %}
<a href = "/follow" name = followee value = {{poster_name}}><strong>Follow</strong></a>
{% else %}
{% endif %}-->
<br>
<strong>Bio:</strong> {{bio[0].bio}}
<br>

<div>
{% for line in posts %}
		<p>{{line.filePath}}</p>
		<p>{{line.timestamp}} {{line.caption}}</p>
{% endfor %}
</div>

<br>
<br>
<a href="/select_user">Select another user</a>
<br>
<br>
<a href="/home">Go back to your page</a>
<br>
<br>
<a href="/logout">Logout</a>

</body>


</html>
