<html>
<head>
</head>
<body>


<h1>Here are the public posts made by {{name.fname}} {{name.lname}}:</h1>


<div>
{% for line in posts %}
	{% if line.allFollowers == 1 %}
		<p><strong>Photo ID: {{line.photoID}}</strong></p>
		<img src="/image/{{line.filePath}}" width="400"/>
		<p>Caption: {{line.caption}} <br> Time posted: {{line.timestamp}}</p>
		<a href = "/tag">Tag a friend to this photo</a>&nbsp&nbsp
		<a href="/tagged" name = {{line.photoID}}>See who is tagged in this photo</a>
		<br><br><br>
	{% endif %}
{% endfor %}
</div>

<br>
<br>
<a href="/select_user">Select another user</a>
<br>
<br>
<a href="/home">Go back to your home page</a>
<br>
<br>
<a href="/logout">Logout</a>

</body>


</html>