<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Upload a Picture!</h1>

    <form action="/post" method="POST"> <!--Need to upload a picture-->
        <input type="file" name = "file" placeholder="Upload a Picture!" required/> </br>
        <input type="text" name = "caption" placeholder="caption" required/> </br>
        <input type="submit" value = Post />
    </form>
</body>
</html>
<html>